/* This defines styles and classes used in the book */
/* body { margin-left: 5%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%; text-align: justify; font-size: medium;
} */

/* mise en page générale */
.titre, .title {
  page-break-before: always ;
}

/* pages de présentation */
.licence {
  text-align: center;
  width: 100%;
  /*
   * position: absolute;
   * top: 30em;
   */
  margin: 0 0 0 -3em;
}
h1 .titre, .licence {
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin-left: auto;
  margin-right: auto;
}
h1 .title {
  font-size: 3em;
}
.title-livre {
  text-align: center;
}
.auteur-livre {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}
.couv {
  height: 100% ;
}
.licence img {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.frama {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* titres */
.title {
  text-align: center;
}
h1, h2 {
  font-family: sans-serif;
}
h1 {
  margin-top: 30%
}
div.titre {
  font-style: sans-serif;
  padding: 1em 0;
  text-align: right;
}
.titre h2 {
  padding: 1em 0;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.titre1 {
  page-break-before: always ;
  text-align: right;
  /* margin-top: 10em; */
  padding: 1em 0;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.titre1 p {
  font-weight: bold;
}
.numero_partie {
  font-family: serif;
  font-variant: small-caps;
}
.inline {
  display: inline;
  /*
   * width: 100px;
   * margin-right: 20px;
   * vertical-align: top;
   * text-align: right;
   */
}
.inline+: inline: after {
  line-break: strict;
}

/* contenu */
.auteur {
  font-variant: small-caps;
}
h4 {
  font-style: italic;
}
.lettrine:first-letter {
      font-size: 2.2em;}
/*.lettrine+p {
  text-indent: 0;
}
.lettrine+p: first-letter {
  font-size: 2.2em;
  /* float: left; 
}
*/
p {
  text-indent: 2em;
}
.auteur-epigraph {
  text-align: right;
  padding-bottom: 1.5em;
}
.epigraph {
  margin-left: 25%;
  padding: 1em 5em;
  text-align: right;
 font-size: 0.75em;
}
.intro {
  font-style: italic;
  padding-left: 2.2em;
  padding-bottom: 1.5em;
}
.droite {
  text-align: right;
}
.titre-para {
  display: inline;
  font-size: 1em;
  font-style: bold;
}
.titre-para+p {
  display: inline;
}
blockquote,.citation {
  padding: 1em 2em;
}
.droit {
  font-style: normal;
}
.italique {
  font-style: italic;
}
.centre {
  text-align: center;
}
.chiffre-romain {
  font-variant: small-caps;
}
.chiffre-romain sup{
  font-variant: normal;
}
table {
  margin: 2em;
  text-align: center;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #000;
}
.entete-ligne {
  font-weight: bold;
  width: 3em;
}
.entete-ligne, th {
  background-color: #ddd;
  padding: 0.5em;
}
.entete {
  border: 0;
  background-color: #fff;
}

.table2 th {
  padding: 0.5em 0;
}
caption {
  font-size: 0.8em;
  font-family: sans-serif;
  padding: 0 0 0.8em 0;
}
.references {
  list-style-type: none;
}
/*
 * ul li::before {
 *   content: "– ";
 * }
 */
br, p {
  margin-bottom: 1em;
}

ol {
  list-style-type: decimal;
}
.liste-alpha {
  list-style-type: lower-alpha;
}
.code, code {
  background-color: #DDDDDD;
  margin: 1em;
  padding: 0 2em ;
  float: top;
  text-indent: -3em;
  font-family: monospace;
}
.gras {
  font-weight: bold;
}
.toc {
  list-style-type: none;
}

/* lexique */
dl code {
  font-family: serif;
  font-style: italic;
  background-color: #DDDDDD;
  margin: 1em;
  padding: 0 3em;
  float: top;
  text-indent: 0
}
dt, dd {
  display: inline;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0 !important;
}
.annexe {
  padding-left: 3em;
}
.annexe dt {
  margin-left: -2em;
}
.lexique h3 {
  font-family: sans-serif;
}
.abc {
  list-style-type: lower-alpha;
}
.biblio {
  text-indent: -1em;
  list-style-type: none;
}
.biblio li {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
}
.biblio li ul {
  font-size: 0.7em;
}
.biblio li ul li {
  font-size: 0.7em;
  font-family: serif;
  font-weight: normal;
}

/* notes de bas de page */
aside, .aside {
  border-top: 1px solid;
}
aside ul, .aside ul {
  list-style-type: none;
}
aside ul li, .aside ul li {
  padding-bottom: 1em;
}
q::before {
  content: "";
}
q::after {
  content: "";
}
.figure {
  border: 0.5em solid #DDDDDD;
  font-size: 0.8em;
  margin: 1em;
  padding: 0 3em;
  float: top;
  text-indent: 0
}
.sms {
  width: auto;
  max-width: 80%;
  height: auto;
  /* background: #00CC00; */
  position: relative;
  -moz-border-radius: 1.8em;
  -webkit-border-radius: 1.8em;
  border-radius: 1.8em;
  padding: 0.8em;
  margin: 2em;
  background-image: -webkit-linear-gradient(bottom, #F2FF00 0%, #FFFF96 30%, #F2FF00 82%);
  background-image:    -moz-linear-gradient(bottom, #F2FF00 0%, #FFFF96 30%, #F2FF00 82%);
  background-image:     -ms-linear-gradient(bottom, #F2FF00 0%, #FFFF96 30%, #F2FF00 82%);
  background-image:      -o-linear-gradient(bottom, #F2FF00 0%, #FFFF96 30%, #F2FF00 82%);
  background-image: linear-gradient(to bottom, #F2FF00 0%, #FFFF96 30%, #F2FF00 82%);
}
.sms:before { content: "";
  position: absolute;
  left: 100%;
  bottom: 1.7em; width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-left: 1.5em solid #F2FF00;
  border-bottom: 0.8em solid transparent;
}
.sms1 {
  width: auto;
  max-width: 80%;
  height: auto;
  position: relative;
  -moz-border-radius: 1.8em;
  -webkit-border-radius: 1.8em;
  border-radius: 1.8em;
  padding: 0.8em;
  margin: 2em;
  background-image: -o-linear-gradient(bottom, #FFB300 0%, #FFEA96 30%, #FFB300 82%);
  background-image: -moz-linear-gradient(bottom, #FFB300 0%, #FFEA96 30%, #FFB300 82%);
  background-image: -webkit-linear-gradient(bottom, #FFB300 0%, #FFEA96 30%, #FFB300 82%);
  background-image: -ms-linear-gradient(bottom, #FFB300 0%, #FFEA96 30%, #FFB300 82%);
  background-image: linear-gradient(to bottom, #FFB300 0%, #FFEA96 30%, #FFB300 82%);
}
.sms1:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 1.7em; width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-right: 1.5em solid #FFB300;
  border-bottom: 0.8em solid transparent;
}

/* couleurs juste pour la relecture */
abbr {
  background-color: yellow;
}
q, blockquote {
  color: grey;
}
:lang(en), i {
  background-color: green;
}
em {
  background-color: purple;
}
cite {
  color: red;
}
.hashtag {
  color: blue;
}
.warning {
  color: red;
}

